@use "../../variables" as *;

.submit-button {
  background-color: $primary;
  color: #fff;
  border: none;
  padding: 0.75rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.submit-button:hover {
  background-color: darken($primary, 10);
}
